In [30]:
import pandas as pd
from sklearn.metrics import mean_squared_error,r2_score

In [31]:
dataset = pd.read_csv('housing.csv')
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [32]:
dataset = dataset.iloc[:, :-1]
dataset.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [33]:
feature_cols = ['housing_median_age','total_rooms','total_bedrooms','population','households','median_income']
X = dataset.iloc[:, 2:-1].values
y = dataset.iloc[:, -1].values

In [34]:
# Taking care of missing data
import numpy as np
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X[:, :])
X[:, :] = imputer.transform(X[:, :])

In [35]:
from sklearn.model_selection imdataset = dataset.iloc[:, :-1]
dataset.head()port train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1)
X_test

array([[3.9000e+01, 2.8100e+03, 6.7000e+02, 1.1090e+03, 6.2400e+02,
        3.2500e+00],
       [3.7000e+01, 2.1850e+03, 4.5500e+02, 1.1430e+03, 4.3800e+02,
        1.9784e+00],
       [4.6000e+01, 1.8190e+03, 4.1100e+02, 1.5340e+03, 4.0600e+02,
        4.0132e+00],
       ...,
       [2.6000e+01, 1.5000e+01, 3.0000e+00, 1.1000e+01, 3.0000e+00,
        5.0480e+00],
       [4.2000e+01, 1.4600e+03, 2.8900e+02, 8.2900e+02, 2.7300e+02,
        4.8750e+00],
       [5.2000e+01, 1.7970e+03, 3.3200e+02, 9.0500e+02, 3.1300e+02,
        2.7054e+00]])

In [36]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
regressor

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [37]:
y_pred = regressor.predict(X_test)
y_pred

array([497400.,  58800., 260500., ..., 162500., 156900., 199100.])

In [38]:
print("Score: ", r2_score(y_test, y_pred))

Score:  0.3660248479636634

In [39]:
print("MSE: ", mean_squared_error(y_test, y_pred))

MSE:  8315794019.717539